@charset "UTF-8";
.table, .msr-dark {
	background-color: #000002!important;
}

.msr-relojMundial:not(:first-child) {
	border-top: 1px solid #202020;
}

.offsetFix {
	overflow-x: auto;
}

.msr-icon-plus {
	color: #f39f0d;
	cursor: pointer;
}
